@model MercadoEsquina.ViewModels.EmployeeViewModel
@{
    ViewData["Title"] = "Editar/Cadastrar Funcionário";
}
@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}

@using (Html.BeginForm("Save", "Employees"))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.Employee.Id)

    <center><h2>@Model.Title</h2></center>

    <div class="container">
        <div class="col-md-12">
            @Html.HiddenFor(m => m.Employee.Id)
            <div class="form-group">
                @Html.Label("Nome")
                @Html.TextBoxFor(m => m.Employee.Name, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Employee.Name)
            </div>
            <div class="form-group">
                @Html.Label("Cpf")
                @Html.TextBoxFor(m => m.Employee.Cpf, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Employee.Cpf)
            </div>
            <div class="form-group">
                @Html.Label("Data de Nascimento")
                @Html.TextBoxFor(m => m.Employee.BirthDate, "{0:dd/MM/yyyy}", new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Employee.BirthDate)
            </div>
            <div class="form-group">
                @Html.Label("Função")
                @Html.TextBoxFor(m => m.Employee.Function, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Employee.Function)
            </div>
            <div class="form-group">
                @Html.Label("Salário")
                @Html.TextBoxFor(m => m.Employee.Salary, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Employee.Salary)
            </div>
            <div class="form-group">
                @Html.Label("Número de Telefone")
                @Html.TextBoxFor(m => m.Employee.PhoneNumber, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Employee.PhoneNumber)
            </div>
            <div class="btnSubmit">
                <button type="submit" class="btn btn-primary">Salvar</button>
            </div>
        </div>
    </div>
}