@model MercadoEsquina.ViewModels.EmployeeViewModel
@{
    ViewData["Title"] = "Listagem de Funcionários";
}

@if (!Model.Employees.Any())
{
    <center>
        @if (Model.HasPermission)
        {
            @Html.ActionLink("Novo Funcionário", "New", null, new { @class = "btn btn-primary" })
        }
        <h1>Não temos nenhum funcionário ainda.</h1>
    </center>
}
else
{
    using (Html.BeginForm())
    {
    <center>
        @if (Model.HasPermission)
        {
            @Html.ActionLink("Novo Funcionário", "New", null, new { @class = "btn btn-primary" })
        }
        <h2>Funcionários Cadastrados</h2>
    </center>
    <table class="table table-bordered table-hover" id="employees">
        <thead>
            <tr>
                <th style="text-align: center">#</th>
                <th style="text-align: center">Id</th>
                <th style="text-align: center">Nome</th>
                <th style="text-align: center">Cpf</th>
                <th style="text-align: center">Data de Nascimento</th>
                <th style="text-align: center">Função</th>
                <th style="text-align: center">Salário</th>
                <th style="text-align: center">Número de Telefone</th>
                @if (Model.HasPermission)
                {
                    <th style="text-align: center">#</th>
                }
            </tr>
        </thead>
        <tbody>
            @{ int cont = 0; }
            @foreach (var employees in Model.Employees)
            {
                <tr>
                    <th scope="row">@(++cont)</th>
                    <td>@employees.Id</td>
                    <td>@employees.Name</td>
                    <td>@employees.Cpf</td>
                    <td>@String.Format("{0: dd/MM/yyyy }", employees.BirthDate)</td>
                    <td>@employees.Function</td>
                    <td>@employees.Salary</td>
                    <td>@employees.PhoneNumber</td>

                    @if (Model.HasPermission)
                    {
                        <td style="text-align:center">
                            <button type="button" data-employee-id="@employees.Id" class="btn btn-primary" id="remove">Remover</button>
                            @Html.ActionLink("EDITAR", "Edit", new { employees.Id }, new { @class = "btn btn-primary" })
                        </td>
                    }
                </tr>
            }
        </tbody>
    </table>
                }
@section scripts {
    <script>
        $(document).ready(function () {
            $("#employees").on("click", "#remove",
                function () {
                    var button = $(this);
                    bootbox.confirm("Tem certeza que quer remover este funcionário?",
                        function (result) {
                            if (result) {
                                $.ajax({
                                    url: "/Employees/Remove/" + button.attr("data-employee-id"),
                                    method: "GET",
                                    success: function () {
                                        button.parents("tr").remove();
                                    }
                                });
                            }
                        });
                });
        });
    </script>
}
                }