@model MercadoEsquina.Models.Client
@{
    ViewData["Title"] = "Editar Cliente";
}

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
        $(function () {
            $.validator.methods.date = function (value, element) {
                Globalize.culture("pt-BR");
                return this.optional(element) || Globalize.parseDate(value) !== null;
            }
        })
    </script>
}

@using (Html.BeginForm("Save", "Clients"))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.Id)
    @Html.ValidationSummary(true, "Johny Cage Viadin")
<div class="container">
    <h2>Você está na pagina "Editar Cliente"</h2>
    <div class="col-md-12">
        @Html.HiddenFor(m => m.Id)
        <div class="form-group">
            @Html.Label("Nome")
            @Html.TextBoxFor(m => m.Name, new { @class = "form-control"})
            @Html.ValidationMessageFor(m => m.Name)       
        </div>
        <div class="form-group">
            @Html.Label("Cpf")
            @Html.TextBoxFor(m => m.Cpf, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Cpf)
        </div>
        <div class="form-group">
            @Html.Label("Data de Nascimento")
            @Html.TextBoxFor(m => m.BirthDate, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.BirthDate)
        </div>
        <button type="submit" class="btn btn-default">Salvar</button>
    </div>
</div>
}