@model MercadoEsquina.ViewModels.ClientViewModel
@{
    ViewData["Title"] = "Listagem de Clientes";
}

@if (!Model.Clients.Any())
{
    <center>
        <h1>Não temos nenhum cliente ainda.</h1>
        @if (Model.HasPermission)
        {
            @Html.ActionLink("Novo Cliente", "New", null, new { @class = "btn btn-primary" })
        }
    </center>
}
else
{
    using (Html.BeginForm())
    {
    <center>
        @if (Model.HasPermission)
        {
            @Html.ActionLink("Novo Cliente", "New", null, new { @class = "btn btn-primary" })
        }
        <h2>Clientes Cadastrados</h2>
    </center>
    
    <table class="table table-bordered table-hover" id="clients">
        <thead>
            <tr>
                <th style="text-align: center">#</th>
                <th style="text-align: center">Id</th>
                <th style="text-align: center">Nome</th>
                <th style="text-align: center">Cpf</th>
                <th style="text-align: center">Data de Nascimento</th>
                <th style="text-align: center">Número de Telefone</th>
                @if (Model.HasPermission)
                {
                    <th style="text-align: center">#</th>
                }
            </tr>
        </thead>
        <tbody>
            @{ int cont = 0; }
            @foreach (var clientes in Model.Clients)
            {
                <tr>
                    <th scope="row">@(++cont)</th>
                    <td>@clientes.Id</td>
                    <td>@clientes.Name</td>
                    <td>@clientes.Cpf</td>
                    <td>@String.Format("{0: dd/MM/yyyy }", clientes.BirthDate)</td>
                    <td>@clientes.PhoneNumber</td>
                                        
                    @if (Model.HasPermission) {
                        <td style="text-align:center">
                            <button type="button" data-customer-id="@clientes.Id" class="btn btn-primary" id="remove">Remover</button>
                            @Html.ActionLink("EDITAR", "Edit", new { clientes.Id }, new { @class = "btn btn-primary" })
                        </td>
                    }
                </tr>
            }
        </tbody>
    </table>
                }

@section scripts {
    <script>
        $(document).ready(function () {
            $("#clients").on("click", "#remove",
                function () {
                    var button = $(this);
                    bootbox.confirm("Tem certeza que quer remover este cliente?",
                        function (result) {
                            if (result) {
                                $.ajax({
                                    url: "/Clients/Remove/" + button.attr("data-customer-id"),
                                    method: "GET",
                                    success: function () {
                                        button.parents("tr").remove();
                                    }
                                });
                            }
                        });
                });
        });
    </script>    
}
                }