
@{
    ViewBag.Title = "Client";
}

@model IEnumerable<MercadoEsquina.Models.Client>
@{
    ViewData["Title"] = "Listagem de Clientes";
}

@using (Html.BeginForm())
{
    <center>
        @Html.ActionLink("Cadastrar", "New", null, new { @class = "btn btn-primary" })
        <h2>Clientes Cadastrados</h2>
    </center>
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>#</th>
                <th>Id</th>
                <th>Nome</th>
                <th>Cpf</th>
                <th>Data de Nascimento</th>
                <th style="text-align: center">#</th>
            </tr>
        </thead>
        <tbody>
            @{ int cont = 0; }
            @foreach (var clientes in Model)
            {
                <tr>
                    <th scope="row">@(++cont)</th>
                    <td>@clientes.id</td>
                    <td>@clientes.name</td>
                    <td>@clientes.cpf</td>
                    <td>@clientes.birthDate</td>
                    
                    <td style="text-align:center">

                        @Html.ActionLink("EDITAR", "Edit", new { clientes.id }, new { @class = "btn btn-primary" })
                        @Html.ActionLink("REMOVER", "Remove", new { clientes.id }, new { @class = "btn btn-primary" })
                    </td>
                </tr>
            }
        </tbody>
    </table>
                }