@model MercadoEsquina.ViewModels.OrderViewModel
@{
    ViewBag.Title = "Formulário Pedido";
}

@using (Html.BeginForm("Save", "Orders"))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.Order.Id)

    <center><h2>Pedido</h2></center>

    <div class="form-group">
        @Html.LabelFor(m => m.Order.OrderDate)
        @Html.TextBoxFor(m => m.Order.OrderDate, "{0:dd/MM/yyyy}", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Order.OrderDate)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Order.Client)
        @Html.DropDownListFor(m => m.Order.Client.Id,
            new SelectList(Model.Clients, "Id", "Name"),
            "Escolha", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Order.Client.Id)
    </div>
    <br>
    <div class="btnSubmit">
        <button type="submit" class="btn btn-primary">Salvar</button>
    </div>
}