@model IEnumerable<MercadoEsquina.Models.Order>
@{
    ViewData["Title"] = "Listagem de Pedidos";
}

@if (!Model.Any())
{
    <center>
        <h1>Não temos nenhum pedido ainda.</h1>
        @Html.ActionLink("Novo Pedido", "New", null, new { @class = "btn btn-primary" })
    </center>
}
else
{

using (Html.BeginForm())
{
    <center>
        @Html.ActionLink("Novo Pedido", "New", null, new { @class = "btn btn-primary" })
        <h2>Pedidos em Andamento</h2>
    </center>
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th style="text-align:center">#</th>
                <th style="text-align:center">Id</th>
                <th style="text-align:center">Data da Venda</th>
                <th style="text-align:center">Cliente</th>
                <th style="text-align: center">#</th>
            </tr>
        </thead>
        <tbody>
            @{ int cont = 0; }
            @foreach (var pedidos in Model)
            {
                <tr>
                    <th scope="row">@(++cont)</th>
                    <td>@pedidos.Id</td>
                    <td>@String.Format("{0: dd/MM/yyyy }", pedidos.OrderDate)</td>
                    <td>@pedidos.Client.Name</td>
                                        
                    <td style="text-align:center">
                        @Html.ActionLink("ADICIONAR ITENS", "../ItemOrders/Add", new { pedidos.Id }, new { @class = "btn btn-primary" })
                        @Html.ActionLink("LISTAR ITENS", "Items", new { pedidos.Id }, new { @class = "btn btn-primary" })
                    </td>
                </tr>
            }
        </tbody>
    </table>
                }
}